*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-inner img {
    width: 100%;
    height: 90vh;
  }

  .container-fluid .aboutimg{
    width: 100vw;
    height: 90%!important;
  }